.venv
__pycache__
*.pyc
.git
.pytest_cache
country-template
openfisca-core
docs
tests
project-plan.md
*.md
!README.md
!country-packages/**/README.md
country-packages/**/.git
country-packages/**/tests
country-packages/**/__pycache__
